<div class="container">

  <hr class="mt-0">
  <blockquote class="blockquote text-center">
    <p class="mb-0 display-4">Столовая БГУИР корпус №4</p>
  </blockquote>

  <hr class="mb-4"/>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-6 col-md-6">

        <img src="../images/canteen/буфет.jpg" class="img-fluid mb-4" alt="" />

        <img src="../images/canteen/булочки.jpg" class="img-fluid mb-4" alt="" />

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6">

        <img src="../images/canteen/еда 22.jpg" class="img-fluid mb-4" alt=""
        style="width: 100%" />

        <img src="../images/canteen/еда 1.jpg" class="img-fluid mb-4" alt="" />

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>